@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,500&display=swap');

* {
	box-sizing: border-box;
}

.form {
	padding: 30px 40px;	
}

.form-item {
	margin-bottom: 10px;
	padding-bottom: 20px;
	position: relative;
}

.form-item label {
	display: inline-block;
	margin-bottom: 5px;
}

.form-item input {
	border: 2px solid #f0f0f0;
	border-radius: 4px;
	display: block;
	font-family: inherit;
	font-size: 14px;
	padding: 10px;
	width: 100%;
}

.form-item input:focus {
	outline: 0;
	border-color: #777;
}

.form-item.success input {
	border-color: #2abb66;
}

.form-item.error input {
	border-color: #e74c3c;
}

.form-item i {
	visibility: hidden;
	position: absolute;
	top: 40px;
	right: 10px;
}

.form-item small {
	color: #e74c3c;
	position: absolute;
	bottom: 0;
	left: 0;
	visibility: hidden;
}

.form-item.error small {
	visibility: visible;
}











