/*Header*/
section.motto {
  background-image: url("/Images/header.jpg");
  min-height: 400px;
  min-width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom right;
  padding-bottom: 100px;
  padding-top: 100px;
}

h1 {
  font-family: "Abril Fatface", Impact, "Arial Narrow Bold", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  color: #f5f5f5;
  font-size: 4.5rem;
  margin-top: 100px;
  margin-bottom: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.motto h2 {
  font-family: "Allura", cursive;
  font-weight: 400;
  color: #0a3641;
  font-size: 3.5rem;
  text-align: center;
  margin-top: 10px;
}

.positioned {
  position: relative;
}

.btn {
    font-family: "candara", sans-serif;
    background-color: #f5f5f5;
    opacity: 80%;
    color: #0a3641;
    padding: 12px;
    border: 1px #0a3641;
    text-decoration: none;
}

a.btn {
    text-align: center;
    border-radius: 4px;
}

.btn:hover {
    background-color: #f5f5f5;
    opacity: 80%;
    color: #de784d;
    border: 1px #de784d;
    text-decoration: solid;
}

/*Jacket list*/
.falljackets{
    text-align: center;
    font-weight: 500;
    font-size: 50px;
    color: #0a3641;
    text-transform: uppercase;
    font-family: "din-condesed", sans-serif;
}
.jacket-container {
  display: inline-flex;
}
.jacket-item {
  flex: 1 1 auto;
  padding: 20px;
  flex-wrap: nowrap;
}

.jacket-item a {
    font-family: "din-condensed", sans-serif;
    font-weight: 300;
    font-style: normal;
    text-transform: uppercase;
    color: #de784d;
  }

.yellow, .orange, .gray, .green {
    max-width: 250px;
    max-height: 250px;
    margin: 0 auto;
}

p {
  font-family: "candara", sans-serif;
  color: #0a3641;
}

/*Adventure style photo*/
section.adventure {
  background-image: url("/Images/tentbackground.jpg");
  min-height: 400px;
  min-width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

h4 {
  font-family: "Abril Fatface", Impact, "Arial Narrow Bold", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  color: #f5f5f5;
  font-size: 3.5rem;
}
