/*INDEX------------------------------------------------------
------------------------------------------------------*/
section.motto {
  background-image: url("/Images/header.jpg");
  min-height: 400px;
  min-width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom right;
  padding-bottom: 100px;
  padding-top: 100px;
}

h1 {
  font-family: "Abril Fatface", Impact, "Arial Narrow Bold", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  color: #f5f5f5;
  font-size: 4.5rem;
  margin-top: 100px;
  margin-bottom: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.motto h2 {
  font-family: "Allura", cursive;
  font-weight: 400;
  color: #0a3641;
  font-size: 3.5rem;
  text-align: center;
  margin-top: 10px;
}

.motto {
  text-align: center;
}

.positioned {
  position: relative;
}

.btn {
  font-family: "candara", sans-serif;
  background-color: #f5f5f5;
  opacity: 80%;
  color: #0a3641;
  padding: 12px;
  border: 1px #0a3641;
  text-decoration: none;
}

a.btn {
  text-align: center;
  border-radius: 4px;
  margin: 0 auto;
}

.btn:hover {
  background-color: #f5f5f5;
  opacity: 80%;
  color: #de784d;
  border: 1px #de784d;
  text-decoration: solid;
}



/*Adventure style photo*/
section.adventure {
  background-image: url("/Images/tentbackground.jpg");
  min-height: 400px;
  min-width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.p-adventure {
  font-family: "Abril Fatface", Impact, "Arial Narrow Bold", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  color: #f5f5f5;
  font-size: 5.5rem;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 0;
  position: relative;
  top: 30px;
}
.p-waiting {
  font-family: "Allura", cursive;
  font-weight: 400;
  color: #0a3641;
  font-size: 4rem;
  text-align: center;
  margin: 0;
  padding-top: 0;
  z-index: 1;
  position: relative;
  bottom: 90px;
}


/*ABOUT--------------------------
-----------------------------*/
main.information_background {
  background-image: url("/Images/hike.jpg.jpg");
  min-height: 300px;
  min-width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom right;
  opacity: 80%;
}

div.box {
  background-color: #fff;
  height: 600px;
  max-width: 900px;
  margin: 40 auto;
}

@media screen and (max-width: 1065px) {
h1 {
    font-size: 3.5rem;
  }
}

