/*INDEX------------------------------------------------------
------------------------------------------------------*/
section.motto {
  background-image: url("../Images/header.jpg");
  min-height: 400px;
  min-width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom right;
  padding-bottom: 100px;
  padding-top: 100px;
}

.h1motto {
  font-family: "Abril Fatface", Impact, "Arial Narrow Bold", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  color: #f5f5f5;
  font-size: 4.5rem;
  margin-top: 100px;
  margin-bottom: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.h2motto {
  font-family: "Allura", cursive;
  font-weight: 400;
  color: #0a3641;
  font-size: 3.5rem;
  text-align: center;
  margin-top: 10px;
}

.motto {
  text-align: center;
}

.h1motto,
h2.motto {
  position: relative;
}

h3 a {
  font-family: "din-condensed", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  text-decoration: none;
  font-size: 2rem;
}
h3 a:hover {
  font-weight: 800;
  transition: 0.5s;
}

.btn {
  font-family: "candara", sans-serif;
  background-color: #f5f5f5;
  opacity: 80%;
  color: #0a3641;
  padding: 12px;
  border: 1px #0a3641;
  text-decoration: none;
}

a.btn {
  text-align: center;
  border-radius: 4px;
  margin: 0 auto;
}

.btn:hover {
  background-color: #f5f5f5;
  opacity: 80%;
  color: #de784d;
  border: 1px #de784d;
  text-decoration: solid;
}

/*FALL JACKETS*/
.content-wrapper {
  max-width: 1000px;
  margin: auto;
}

.jacket-item {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2), 0 3px 6px rgba(0, 0, 0, 0.23);
  margin: 10px;
  margin-bottom: 20px;
  background-color: #fff;
}

.jacket-item:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

/*Adventure style photo*/
section.adventure {
  background-image: url("../Images/tentbackground.jpg");
  min-height: 400px;
  min-width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.p-adventure {
  font-family: "Abril Fatface", Impact, "Arial Narrow Bold", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  color: #f5f5f5;
  font-size: 5.5rem;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 0;
  position: relative;
  top: 30px;
}
.p-waiting {
  font-family: "Allura", cursive;
  font-weight: 400;
  color: #0a3641;
  font-size: 4rem;
  text-align: center;
  margin: 0;
  padding-top: 0;
  z-index: 1;
  position: relative;
  bottom: 90px;
}

/*ABOUT--------------------------
-----------------------------*/
main.information_background {
  background-image: url("../Images/hike.jpg.jpg");
  min-height: 300px;
  min-width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom right;
  opacity: 80%;
}

div.box {
  background-color: #fff;
  height: 600px;
  max-width: 900px;
  margin: auto;
  margin-top: 60px;
  margin-bottom: 60px;
  opacity: 80%;
}

/*JACKET SPECIFIC PAGE--------------------------
-----------------------------*/
.specific-jacket-container {
  display: flex;
  flex-direction: row;
}

.specific-img {
  min-width: 250px;
}

.specific-jacket-item,
.specific-jacket-item-form {
  margin: 20px;
}

.specific-jacket-item-form {
  min-width: 200px;
}

hr.separator {
  margin-top: 50px;
}

.flex-specific {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  margin-top: 30px;
}

.flex-specific-item {
  padding: 0 100px 50px;
}

li.specs {
  list-style-type: circle;
}

@media screen and (max-width: 886px) {
  .h1motto {
    font-size: 3rem;
  }

  h3 {
    text-decoration: underline;
  }

  .p-adventure {
    font-weight: 350;
    font-size: 3rem;
    padding-top: 200px;
    padding-bottom: 0;
    top: 30px;
  }
  .p-waiting {
    font-family: "Allura", cursive;
    font-weight: 200;
    color: #0a3641;
    font-size: 2rem;
    margin: 0;
    padding-top: 0;
    bottom: 20px;
  }

  .specific-jacket-container,
  .flex-specific {
    flex-direction: column;
  }
}
