/*
Colour pallette
#f5f5f5 - almost white
#545b65 - gray
#0a3641 - deep teal
#de784d - orange
#fff - white
------------------------------------------*/

/*
Icons
<i class="fas fa-search"></i> - search icon
<i class="fas fa-shopping-cart"> - shopping cart
-------------------------------------------*/

body {
    display: grid;
    grid-gap: 10px;
    margin: auto;
    grid-template-areas:
    'nav'
    'header'
    'main'
    'footer'
}

nav {
    background-color: #f5f5f5;
    min-height: 10px;
}

header {
    background-color: #fff;
    min-height: 40px;
}

main {
    display: flex;
    flex-direction: column;
    background-color: #f5f5f5;
    min-height: 400px;
}

.jacket-img {
    max-height: 150px;
    max-width: 150px;
}

footer {
    background-color: #0a3641;
    min-height: 200px; 
}

nav {grid-area: nav;}
header {grid-area: header;}
main {grid-area: main;}
footer {grid-area: footer;}