/*
Colour pallette
#f5f5f5 - almost white
#545b65 - gray
#0a3641 - deep teal
#de784d - orange
#fff - white
------------------------------------------*/

/*
Icons
<i class="fas fa-search"></i> - search icon
<i class="fas fa-shopping-cart"> - shopping cart
-------------------------------------------*/

body {
  overflow-x: hidden;
  display: grid;
  grid-gap: 10px;
  margin: auto;
  grid-template-areas:
    "nav"
    "header"
    "main"
    "footer";
}

nav {
  background-color: #f5f5f5;
  min-height: 10px;
}

header {
  background-color: #fff;
  min-height: 40px;
}

main {
  background-color: #f5f5f5;
  min-height: 400px;
}

.main-heading {
    text-align: center;
    text-transform: uppercase;
    font-family: "din-condensed", sans-serif;
    font-size: 3rem;
    color: #0a3641;
}

.index-jacket-wrapper {
    display: flex;
}

.index-section {
    flex: 1 1 auto;
    margin: 10px;
}

.jacket-img {
  max-height: 250px;
  max-width: 250px;
}

footer {
  background-color: #0a3641;
  min-height: 200px;
}

nav {
  grid-area: nav;
}
header {
  grid-area: header;
}
main {
  grid-area: main;
}
footer {
  grid-area: footer;
}
