@font-face {
    font-family: Candara, sans-serif;
    src: url("/fonts/Candara.ttf") format("ttf");
}

@font-face {
    font-family: TGL, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    src: url("/fonts/TGL.ttf") format("ttf");
}

@font-face {
    font-family: segoe, italic;
    src: url("/fonts/segoesc.ttf");
}

main {
    background-color: #F5F5F5;
}

header {
    background-color: #fff;
}

footer {
    background-color: #0a3641;
}

nav li {
    display: inline-block;
}

body {
    font-family: 'candara' sans-serif;
}

h1 {
    font-family: TGL, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #de784d;
}

p {
    font-family: candara, sans-serif;
    color: #0a3641;
}