/*
Colour pallette
#f5f5f5 - almost white
#545b65 - gray
#0a3641 - deep teal
#de784d - orange
#fff - white
------------------------------------------*/

/*
Icons
<i class="fas fa-search"></i> - search icon
<i class="fas fa-shopping-cart"> - shopping cart
-------------------------------------------*/


@font-face {
  font-family: "candara", sans-serif;
  src: url("../fonts/Candara.ttf") format("ttf");
}

/*Header and navigation--------------------------*/
ul.topnav {
  padding: 0px;
  text-align: right;
  background-color: #f5f5f5;
}
ul.topnav li {
  display: inline-block;
}
ul.topnav a {
  text-decoration: none;
  color: #545b65;
  font-family: "din-condensed", sans-serif;
  font-weight: 300;
  font-style: normal;
}
ul.topnav a:hover {
  font-weight: 800;
  color: #545b65;
}
header {
  background-color: #fff;
  max-width: 100%;
  height: 110px;
}
.menu {
  display: flex;
}
.logo {
  max-width: 181px;
  height: 97px;
  box-shadow: none;
  flex: 2; 
}

img.logo{
margin: 0 40px;
}
.mainnav {
  flex: 1;
  align-items: center;
  justify-content: center;
}
.mainnav.cart {
  flex: 2;
  align-items: center;
  justify-content: center;
}
nav ul {
  padding: 0px;
  text-align: center;
  align-items: center;
  justify-content: center;
}
nav li {
  display: inline-block;
  text-decoration: none;
  align-items: center;
  justify-content: center;
}
nav.mainnav, nav a{
  color: #0a3641;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "din-condensed", sans-serif;
  font-weight: 300;
  font-size: 1.2rem;
  font-style: normal;
  list-style-type: none;
}
ul.menu a:hover {
  color: #de784d;
  text-decoration: none;
}
/*Body*/
body {
  font-family: "candara" sans-serif;
  background-color: #f5f5f5;
  max-width: 1920px;
  overflow-x: hidden;
  flex-wrap: nowrap;
}
/*Footer*/
footer {
  background-color: #0a3641;
}
.flex-container {
  display: flex;
}
.flex-item-logo {
  flex: 1.8 0 150px;
}
.flex-item {
  flex: 1 1 auto;
}
fieldset {
  border: 0;
}
footer li {
  color: #f5f5f5;
}
footer a {
  color: #f5f5f5;
  text-decoration: none;
  padding: 0px;
}
a:hover {
  color: #de784d;
  text-decoration: none;
}
.logo2 {
  width: 200px;
  height: 108px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px;
}
.links,
.social_media {
  text-transform: uppercase;
}
legend {
  color: #f5f5f5;
  margin: 40 0 0 0;
  position: relative;
  top: 55px;
  font-family: "candara", sans-serif;
  text-transform: uppercase; 
}
input[type="submit"] {
  background-color: #f5f5f5;
  color: #0a3641;
  padding: 5px 10px;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  position: relative;
  top: 55px
}
input[type="email"] {
  padding: 5px 10px;
  margin: 0px 0;
  position: relative;
  top: 55px
}
input[type="submit"]:hover {
  background-color: #de784d;
}
ul {
  padding: 15px;
  text-decoration: none;
}
li {
  list-style-type: none;
  padding: 0px;
}
