@font-face {
  font-family: "candara", sans-serif;
  src: url("../fonts/Candara.ttf") format("ttf");
}

font-family: din-condensed, sans-serif;
font-weight: 400;
font-style: normal;

header {
  background-color: #fff;
}

.logo {
  width: 181px;
  height: 97px;
}

ul.topnav {
  padding: 0px;
  text-align: right;
}

ul.topnav li {
  display: inline-block;
  
}

ul.topnav a {
  text-decoration: none;
  color: #545b65;
  font-family: din-condensed, sans-serif;
  font-weight: 300;
  font-style: normal;
}

ul.topnav a:hover {
  text-decoration: solid;
  font-weight: 800;
  color: #545b65;
}

nav ul {
  padding: 0px;
}

nav li {
  display: inline-block;
  text-align: center;
}

nav a {
  color: #0a3641;
  text-decoration: none;
  text-transform: uppercase;
  font-family: din-condensed, sans-serif;
  font-weight: 300;
  font-style: normal;
  
}

ul.menu a:hover,
footer a:hover {
  text-decoration: solid;
  color: #de784d;
  text-transform: uppercase;
}
body {
  font-family: "candara" sans-serif;
  background-color: #f5f5f5;
}

section.motto {
  background-image: url("/Images/header.jpg");
  min-height: 400px;
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  font-family: "Abril Fatface", Impact, "Arial Narrow Bold", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  color: #f5f5f5;
  font-size: 4.5rem;
}

.motto h2 {
  font-family: "Allura", cursive;
  font-weight: 400;
  color: #0a3641;
  font-size: 3.8rem;
}

.falljackets h2,
.falljackets a {
  font-family: din-condensed, sans-serif;
  font-weight: 300;
  font-style: normal;
  text-transform: uppercase;
}

.falljackets h2 {
  color: #0a3641;
  size: 4rem;
}

.falljackets a {
  color: #de784d;
  size: 2rem;
}

.falljackets {
  display: flex;
  flex: 1;
}

.yellow {
  flex: 2;
}

.orange {
  flex: 2;
}

.gray {
  flex: 2;
}

.green {
  flex: 2;
}

p {
  font-family: "candara", sans-serif;
  color: #0a3641;
}

section.adventure {
  background-image: url("/Images/tentbackground.jpg");
  min-height: 400px;
  background-repeat: no-repeat;
  background-size: cover;
}

h4 {
  font-family: "Abril Fatface", Impact, "Arial Narrow Bold", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  color: #f5f5f5;
  font-size: 3.5rem;
}

footer {
  background-color: #0a3641;
}

footer li {
  color: #f5f5f5;
}

footer a {
  color: #f5f5f5;
  text-decoration: none;
}

.logo2 {
  width: 399px;
  height: 215px;
}

.links,
.social_media {
  text-transform: uppercase;
}

.form__input {
  display: block;
}
